<!-- CODIGO QR -->
<h1 class="title">QR code Generator</h1>

<div class="qr-image-container">
    <qrcode [qrdata]="url" [width]="qrWidth" [errorCorrectionLevel]="errorCorLevel"></qrcode>
</div>


<!-- FORMULARIO -->

<form [formGroup]="myForm"  (ngSubmit)="sendForm()" class="qr-form-container">

    <!-- URL -->
    <div class="qr-input-field-container">
        <div class="qr-input-field">
            <input 
                type="text"
                formControlName="url"
                placeholder="Insert the url"
            >
        </div>
    </div>
  
    <button class="submit-button" type="submit" [disabled]="myForm.invalid">Create QR</button>
    <div class="clear-button" (click)="cleanInput()">
        <p>Limpiar</p>
    </div>
</form>
<!-- 
<h2>Form Valid: {{ myForm.valid }} </h2>
<h2>Form Status: {{ myForm.status }} </h2>
<h2>Form Pending: {{ myForm.pending }} </h2>
<hr>
<h2>Form errors</h2>
<pre>{{ myForm.errors | json }}</pre>

<h3>url</h3>
<pre>{{ myForm.controls['url'].errors | json }}</pre> -->

